<div class="container">
  <h3>{{question.titleListView}}</h3>
  <h5>Category: {{question.category}}</h5>
  <div class="by-line container">
    <p>
      By:{{question.author}}
    </p>
  </div>
  {{update-question question=question update="update"}}
  <button {{action 'delete' question}}>Delete</button>
</div>
