<div class="question-body">
  <h5 class="category">{{question.questionTitleView}}</h5>
  <hr>
  <div class="by-line">
    <h6 class="author">{{question.questionAuthorView}}</h6>
    <h6 class="timestamp">{{question.topic}}</h6>
  </div>
  <div class="body-copy">
    {{question.bodyCopy}}
  </div>
</div>

<h3>Posted Answers:</h3>
<ul>
  {{#each question.answers as |answer|}}
    <li><h4>{{answer.name}} says</h4> <p>{{answer.answer}}</p></li>
  {{/each}}
</ul>
