<div class="question-body container">
  <hr>
  <div class="by-line">
    <h2>{{question.titleListView}}</h2>
    <h3 class="list-view-title">{{question.titleDetailView}}</h3>
    <h5 class="author">By: {{question.author}}</h5>
    <h5 class="category">Category: {{question.category}}</h5>
    <button class="upbtn btn" {{action 'addToFav' question}}>Add to Favorites</button>
  </div>
  <div class="body-copy">
    {{question.bodyCopy}}
  </div>
</div>


<div class="container">
  <h3>Posted Answers:</h3>
  <ul>
    {{#each question.answers as |answer|}}
      <li>{{question-rating answer.rating}}<h4>{{answer.name}} says</h4> <p>{{answer.answer}}</p></li>
    {{/each}}
  </ul>
</div>
<!-- <ul>
    {{#each model.answers as |answer|}}
      <li>{{question-rating answer.rating}}<h4>{{answer.name}} says <span class="unbold">{{answer.answer}}</span></h4></li>
    {{/each}}
  </ul> -->
